<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('static_admin')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('static_admin')}/js/jquery.js"></script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="{:url('/admin/user/index')}">首页</a></li>
            <li><a href="{:url('/admin/user/add')}">编辑属性</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">编辑属性</span>
        </div>
        <form action="" method="post">
            <input type="hidden" name="attr_id" value="{$attr['attr_id']}">
            <ul class="forminfo">
                <li>
                    <label>属性名称</label>
                    <input name="attr_name" value="{$attr['attr_name']}" placeholder="请输入属性名称" type="text" class="dfinput" /><i></i>
                </li>
                <li>
                    <label>商品类型</label>
                    <select name="type_id" class="dfinput">
                        <option value="">请选择商品类型</option>
                        {foreach name="types" item="v"}
                        <option value="{$v['type_id']}">{$v['type_name']}</option>
                        {/foreach}
                    </select>
                </li>
                <li>
                    <label>属性类型</label>
                    <input type="radio" name="attr_type" value="0" checked="checked" /> <span>唯一属性</span>
                    <input type="radio" name="attr_type" value="1" /> <span>单选属性</span>
                </li>
                <li>
                    <label>录入方式</label>
                    <input type="radio" name="attr_input_type" value="0" checked="checked" /> <span>手工输入</span>
                    <input type="radio" name="attr_input_type" value="1" /> <span>列表选择</span>
                </li>
                <li>
                    <label>属性值</label>
                    <textarea name="attr_values" class="textinput">{$attr['attr_values']}</textarea> <span style="color: red;">　多个值用 | 隔开</span>
                </li>
            </ul>
			<li>
                    <label>　　</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认添加" />
             </li>
        </form>
    </div>
</body>
<script>
    var type_id = "{$attr['type_id']}";
    $('select[name="type_id"]').val(type_id);

    var attr_type = "{$attr['attr_type']}";
    var attr_input_type = "{$attr['attr_input_type']}";
    $('input[name="attr_type"][value="'+attr_type+'"]').attr('checked',true);
    $('input[name="attr_input_type"][value="'+attr_input_type+'"]').attr('checked',true);
    $('textarea[name="attr_values"]').attr('disabled',attr_input_type==0?true:false);

    $('input[name="attr_input_type"]').click(function(){
        var val = $(this).val();
        if (val == 0) {
            //手工输入
            $('textarea[name="attr_values"]').attr('disabled',true).val('不可用');
        } else {
            //列表选择
            $('textarea[name="attr_values"]').attr('disabled',false).val('');
        }
    });
</script>

</html>
